<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'Home', root_path,  class: "nav-link active" %></a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
    <div class="dropdown-menu">
      <%= link_to 'Nova Categoria', new_contact_path,  class:"dropdown-item" %>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="https://github.com/nicollasmatheus">Desenvolvedor</a>
    </div>
  </li>
</ul>

<div class="form-style-10">
  <p id="notice"><%= notice %></p>

  <h1>Kinds</h1>

  <table>
    <thead>
      <tr>
        <th>Tipo de Contato</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @kinds.each do |kind| %>
        <tr>
          <tr style="background: <%= cycle('white', '#e6f3ff')%>">
          <td><%= kind.description %></td>
          <td><%= link_to t('buttons.destroy'),kind, class: "btn btn-outline-danger", method: :delete, data: { confirm: t('confirmation.messages.sure')  } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= paginate @kinds %>

  <%= link_to t('buttons.kind'), new_kind_path, class:"btn btn-warning" %>
  <%= link_to 'Home', root_path,  class:"btn btn-warning"%>


</div>