<h1>SEJA BEM VINDO</h1>
<h3>Links Úteis</h3>

<p> <%= link_to 'Contatos', contacts_path %></p>
 <p><%= link_to 'Telefones',phones_path %> </p></p>
<p><%= link_to 'Endereços', addresses_path %> </p>
<p>	<%= link_to 'Tipos',kinds_path %></p> 


<%= t 'hello' %>