<div class="form-style-10">

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Perfil:</strong>
	  <%= image_tag(@contact.avatar.thumb_profile.url, alt: 'Avatar') if @contact.avatar? %>
	</p>

	<p>
	  <strong>Name:</strong>
	  <%= @contact.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @contact.email %>
	</p>

	<p>
	  <strong>Kind:</strong>
	  <%= @contact.kind.description %>
	</p>

	<p>
	  <strong>Rmk:</strong>
	  <%= @contact.rmk %>
	</p>

	<%= link_to t('buttons.edit'), edit_contact_path(@contact), class: "btn btn-danger" %> |
	<%= link_to t('buttons.back'), contacts_path, class: "btn btn-warning" %>

</div>