<div class="form-style-10">

	<p id="notice"><%= notice %></p>

	<p><%= image_tag(@contact.avatar.thumb_profile.url, alt: 'Avatar') if @contact.avatar? %></p>

	<p>
	  <strong>Nome:</strong>
	  <%= @contact.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @contact.email %>
	</p>

	<p>
	  <strong>Categoria:</strong>
	  <%= @contact.kind.description %>
	</p>

	<p>
	  <strong>Observação:</strong>
	  <%= @contact.rmk %>
	</p>

	<p>
	  <strong>Telefone(s):</strong>
	  <% @contact.phones.each do |cont| %>
	  <p><%= cont.phone %></p>
	  <% end %>
	</p>


	<%= link_to t('buttons.edit'), edit_contact_path(@contact), class: "btn btn-danger" %> 
	<%= link_to t('buttons.back'), contacts_path, class: "btn btn-warning" %>

</div>